<h1>Original Patient Log</h1>

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Order</th>
      <th>Patient ID</th>
      <th>Date of Test</th>
      <th>Likelihood of Disease (%)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>123</td>
      <td>July 02, 2020</td>
      <td>80</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>456</td>
      <td>July 09, 2020</td>
      <td>95</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>789</td>
      <td>July 15, 2020</td>
      <td>93</td>
    </tr>
  </tbody>
</table>




<h1>Updated Patient Log</h1>

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Order</th>
      <th>Patient ID</th>
      <th>Date of Test</th>
      <th>Likelihood of Disease (%)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>456</td>
      <td>July 09, 2020</td>
      <td>95</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>789</td>
      <td>July 15, 2020</td>
      <td>93</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>123</td>
      <td>July 02, 2020</td>
      <td>80</td>
    </tr>
  </tbody>
</table>