<h1>Original Patient Log</h1>

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Patient Image File</th>
      <th>Likelihood of Disease (%)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>p1</td>
      <td>0.8</td>
    </tr>
    <tr>
      <th>1</th>
      <td>p2</td>
      <td>0.6</td>
    </tr>
    <tr>
      <th>2</th>
      <td>p3</td>
      <td>0.7</td>
    </tr>
  </tbody>
</table>

<br></br>

<h1>Updated Patient Log</h1>

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Patient Image File</th>
      <th>Likelihood of Disease (%)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>p1</td>
      <td>0.8</td>
    </tr>
    <tr>
      <th>1</th>
      <td>p2</td>
      <td>0.7</td>
    </tr>
    <tr>
      <th>2</th>
      <td>p3</td>
      <td>0.6</td>
    </tr>
  </tbody>
</table>
