<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container">
  <h2>Navigation Bars</h2>
  <p>The <strong>w3-bar</strong> class is a container for displaying HTML elements horizontally.</p>
  <p>The <strong>w3-bar-item</strong> class defines the container elements.</p>
  <p>It it a perfect tool for creating navigation bars:</p>
</div>

<div class="w3-bar w3-black">
  <a href="/" class="w3-bar-item w3-button">Upload Files</a>
  <a href="/uploadComplete" class="w3-bar-item w3-button">View Uploaded Files</a>
  <a href="/log" class="w3-bar-item w3-button">Patient Log</a>
</div>

</body>
</html>
